.projects {
    display:flex;
    flex-direction: column;
    flex:1;
}
.project-area {
    flex: 1; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    padding: 8px 0px;
}

.project-pic {
    width: 40%;
}

.project-info {
    margin-right: 24px; 
}

.project-title {
    font-size: 20px;
    font-weight: 600; 
}
.project-urls {
    margin-top: 6px; 
    display: flex; 
}
.project-urls a {
    color: black;
    text-decoration: none;
}
.link-btns {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 73, 73); 
    width: max-content;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 6px;
}