.social-contact {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.social-icons {
    padding: 6px;
    cursor: pointer; 
    margin: 6px;
}

.social-icon { 
    height: 50px;
}

@media screen and (max-width: 720px) {
    .social-icon {
        height: 40px;
    }
}