.skills {
 
    width: 100%;
}

.skills-container {
    margin: 12px 6px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skills-data {
    width: max-content;
    padding: 8px 16px; 
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 6px;
}

.skill-icon {
    font-size: 80px;
}

.skill-name {
    font-size: 18px;
}

@media only screen and (max-width: 720px) {
    .skills-data {
        width: max-content;
        height: 100px;
    }
    .skill-icon {
        font-size: 60px;
    }

}
@media only screen and (max-width: 360px) {
    .skills-data {
        justify-content: center;
    }
    .skills-container{
        flex-direction: column;
        align-items: center;
    }
}
