
.about {
    padding: 40px;
    margin: 20px;
}
.about-info {
    display: flex; 
    font-size: 30px;
    align-items: center;
    text-align: center;
}
.resume-btn {
    color: white;
    background-color: rgb(214, 73, 73);
    border:none;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor:pointer;
}
.resume-btn:hover{
    opacity: 0.9;
}
.college {
    background-image: linear-gradient(to left, rgb(248, 105, 66), rgb(249, 100, 36), rgb(214, 73, 73));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.resume-btn-div {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}