.contact {
    display: flex; 
    flex-direction: column;
    flex: 1; 
}

.title {
    font-size: 32px;
    font-weight: 700;
}
.contact-container {
    display: flex; 
    flex: 1; 
    justify-content: space-between;
    align-items: center; 
    margin: 16px 0px;
}

@media only screen and (max-width: 720px) {
    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}