.sectioner {
    background-image: linear-gradient(to right top, #be3131, #bc3736, #b93c3b, #b74040, #b44545, #b94e4b, #bf5650, #c45e56, #d36c5f, #e27a68, #f08871, #ff977b);
    height: 6px;
    width: 40%;
    margin: 16px 0px;
    border-radius: 3px;
}